/* Variables */
:root
{
    --primary-bg-color:#333333;
    --footer-bg-color:#444444;
    --secondary-bg-color:#f4f4f4;
    --highlight-bg-color:#f7c08a;

    --primary-text-color:#dedede;
    --secondary-text-color:#333333;
    --highlight-text-color:#f8bf8a;

    --btn-dark-bg:#333333;
    --btn-light-bg:#f2f2f2;
    --btn-selected-bg:#404548;
}
/* CSS Reset */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* General Styles */
body
{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.4;
}
/* Utilities/Classes - Repeated styles */
.container
{
    max-width: 1200px;
    /* if the viewport is smaller than 1200px, then take up 90% */
    width: 90%;
    margin: 0 auto;
}

a
{
    text-decoration: none;
}

p
{
    margin-bottom: 30px;
}

img
{
    width: 100%;
    max-width: 100%;
    /* max-width means the image will never get larger that it's initial width*/
}

.text-secondary-color
{
    color: var(--highlight-text-color);
}

.btn
{
    display: inline-block;
    padding: 10px 16px;
    font-size: 0.9rem;
    text-align: center;
}

.btn-dark-bg
{
    background-color: var(--btn-dark-bg);
    color: var(--primary-text-color);
}

.btn-light-bg
{
    background-color: var(--btn-light-bg);
    color: var(--secondary-text-color);
}

.grid
{
    display: grid;
}

.grid-col-2
{
    grid-template-columns: repeat(2,1fr);
}

.grid-col-3
{
    grid-template-columns: repeat(3,1fr);
}

/* .text-secondary-color
{

} */

/* **********Header********** */
header
{
    background-color:var(--primary-bg-color);
    color: var(--primary-text-color);
}

/* center the header vertically in the header */
header h1
{
    align-self: center;
}

header h1 a
{
    color: var(--primary-text-color);
}

header nav li
{
    display: inline-block;
    padding: 16px 32px;
}

header nav li > a
{
    color: var(--primary-text-color);
}

.grid-header
{
    grid-template-columns: 100px 1fr;
}

/* **********Navigation********** */

/* push the menu to the right of the header */
header nav
{
    justify-self: end;
}

.selected-link
{
    background-color: var(--btn-selected-bg);
}

/* **********Hero Section********** */
#hero-section
{
    height: 60vh;
    background-image: url("../img/showcase.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;
    padding: 60px 0 0 0;
    color: var(--primary-text-color);
}

#hero-section h2
{
    margin-bottom: 30px;
    font-size: 2.4rem;
}

/* **********History Section********** */
#history-section, #history-section > div
{
    height: 300px;
}

#history-section img
{
    height: 100%;
    object-fit: cover;
}

#history-section > div:nth-child(2) > h3
{
    margin-top: 32px;
    margin-bottom: 16px;
}

#history-section > div:nth-child(2)
{
    background-color: var(--primary-bg-color);
    text-align: center;
    color: var(--primary-text-color);
    padding: 0 32px;
}

/* **********Features Section********** */
#features-section
{
    text-align: center;
}

#features-section > div:nth-child(2)
{
    background-color: var(--highlight-bg-color);
}

#features-section i
{
    font-size: 32px;
    margin: 16px 0 16px 0;
}

#features-section h4
{
    margin-bottom: 16px;
}

/* **********Footer********** */
footer
{
    background-color: var(--footer-bg-color);
    text-align: center;
    padding: 16px 0;
    color: var(--primary-text-color);
}

footer > p
{
    margin-bottom: 0;
}

