/****Reusable Styles****/
:root
{
      --primary-bg-about: #F4F4F4;
}
.card-grid
{
      grid-template-columns: 10% 1fr;
}
.flex
{
      display: flex;
}
.flex-position-end
{
      justify-content: flex-end;
}

/****About Section****/
#about-section
{
      background-color: var(--primary-bg-about);
}
#about-section > div > div:nth-child(2) > img
{
      
      width: 60%;
      border-radius: 75%;
}
#about-section > div > div
{
      padding: 20px 25px;
}
#about-section h2
{
      margin-bottom: 25px;
}
#about-section > div > div
{
      align-content: center;
}
/****Reviews Section****/
#reviews-section
{
      background-image: url(../img/test-bg.jpg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      align-items: center;
      height: 60vh;
      color: var(--primary-font-color);
}
#reviews-section > div > h2
{
      text-align: center;
      padding: 5rem 0 1.5rem 0;
}
.review-card
{
      background-color: var(--highlight-color);
}
.review-card > img
{
      width: 60%;
      justify-self: center;
      border-radius: 50%;
      padding: 1rem 0;
}
.review-card > p
{
      align-self: center;
      padding: 1rem 0;
}
#reviews-section > div > div:nth-child(2)
{
      margin-bottom: 1.5rem;
}
