/* Variables */
:root
{
    --primary-bg-color:#333333;
    --secondary-bg-color:#f4f4f4;
    --highlight-color:#dec1a2;

    --primary-text-color:#dedede;
    --secondary-text-color:#333333;
    --highlight-text-color:#f8bf8a;

    --btn-dark-bg:#333333;
    --btn-light-bg:#f2f2f2;
    --btn-selected-bg:#404548;
}
/* CSS Reset */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* General Styles */
body
{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.4;
}
/* Utilities/Classes - Repeated styles */
.container
{
    max-width: 1200px;
    margin: 0 auto;
}

a
{
    text-decoration: none;
}

p
{
    margin-bottom: 30px;
}

img
{
    width: 100%;
    max-width: 100%;
    /* max-width means the image will never get larger that it's initial width*/
}

.text-secondary-color
{
    color: var(--highlight-text-color);
}

.selected-link
{

}

.btn
{
    display: inline-block;
    padding: 10px 16px;
    font-size: 0.9rem;
    text-align: center;
}

.btn-dark-bg
{
    background-color: var(--btn-dark-bg);
    color: var(--primary-text-color);
}

.btn-color-light
{
    background-color: var(--btn-light-bg);
    color: var(--secondary-text-color);
}

.selected-link
{

}

.grid
{
    display: grid;
}

.grid-col-2
{
    grid-template-columns: repeat(2,1fr);
}

.grid-col-3
{
    grid-template-columns: repeat(3,1fr);
}

.text-secondary-color
{

}

/* **********Header********** */
header
{
    background-color:var(--primary-bg-color);
    color: var(--primary-text-color);
}

/* center the header vertically in the header */
header h1
{
    align-self: center;
}

header h1 a
{
    color: var(--primary-text-color);
}

header nav li
{
    display: inline-block;
    padding: 16px 32px;
}

header nav li > a
{
    color: var(--primary-text-color);
}

.grid-header
{
    grid-template-columns: 100px 1fr;
}

/* **********Navigation********** */

/* push the menu to the right of the header */
header nav
{
    justify-self: end;
}

/* **********Hero Section********** */

/* **********History Section********** */

/* **********Features Section********** */

/* **********Footer********** */

