:root
{
      --highlight-color: #F8BF8A;
      --primary-font-color: #ffffff;
      --secondary-font-color: #000000;
      --bg-color-light: #ffffff;
      --primary-bg: #333333;
      --secondary-bg: #444444;
}
/* CSS Reset */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*General Styles*/
a
{
      text-decoration: none;
      /*remove the underline from links*/
}
body
{
      font-family: 'Inter', sans-serif;
      font-family: 'Poppins', sans-serif;
}
/*Reusable Styles*/
.font-bold
{
      font-weight: bold;
}
.margin-bottom
{
      margin-bottom: 1rem;
}
.grid
{
      display: grid;
}
.flex
{
      display: flex;
}
.grid-header
{
      grid-template-columns: 100px 1fr;
}
.grid-col-2
{
      grid-template-columns: repeat(2, 1fr);
}
.grid-col-3
{
      grid-template-columns: repeat(3, 1fr);
}
.btn
{
      display: inline-block;
      /*required to apply padding on all 4 sides*/
      padding: 10px 16px;
      font-size: 0.9rem;
}
.btn-dark
{
      background: var(--primary-bg);
      color: var(--primary-font-color);
}
.btn-light
{
      background: var(--bg-color-light);
      color: var(--primary-bg)
}
.container
{
      max-width: 1200px;
      margin: 0 auto;
}
.highlight-text
{
      color: var(--highlight-color);
}
img
{
      width: 100%;
      /*automatically make the image size 100% of the parent instead of the full size*/
      max-width: 100%;
      /*the image is never going to get larger than it's original width*/
     
}
.link-hover:hover,
.link-hover > a:hover
{
      background: var(--secondary-bg);
      color: var(--highlight-color);
}
/******Navigation Bar*****/
h1
{
      font-size: 1.5rem;
      align-self: center;
}
header
{
      background: var(--primary-bg);
      position: sticky;
      top: 0;
}

header h1 > a
{
      padding-left: 16px;
      color: var(--primary-font-color);
}
nav li
{
      display: inline-block;
}
header > div > nav
{
      justify-self: end;
}
header > div > nav li
{
      padding: 8px 16px;
}
header > div > nav a
{
      color: var(--primary-font-color);
}
/******Hero Section*****/
#hero-section
{
      background-image: url(../img/showcase.jpg);
      height: calc(60vh - 37px);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      align-items: center;
      color: var(--primary-font-color);
}
#hero-section > div
{
      text-align: center;
      padding: 0 5rem;
}
/******History Section*****/
#history-section,
#history-section > div
{
      height: 300px;
}
#history-section > div > img
{
      height: 100%;
      object-fit: cover;
      
}
#history-section > div
{
      background: var(--primary-bg);
      color: var(--primary-font-color);
      align-items: center;
      justify-content: center;
      text-align: center;
}
#history-section > div:nth-child(2)
{
      padding: 0 5rem;
}
/******Features Section*****/
#features-section
{
      text-align: center;
}
#features-section > div
{
      padding: 20px;
}
#features-section > div:nth-child(even)
{
      background: var(--highlight-color);
}
#features-section i
{
      font-size: 2rem;
      padding: 2rem;
}
#features-section h4
{
      font-size: 1.2rem;
}
/******Footer Section*****/
footer
{
      background: var(--secondary-bg);
      color: var(--primary-font-color);
      text-align: center;
}
footer > div
{
      padding: 2rem;
}

/******Media Queries*****/
/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
      #hero-section
      {
            height: calc(40vh - 37px);
            padding: 2rem 0;
      }
}
@media (max-width: 855.98px) {
      #hero-section
      {
            height: calc(70vh - 37px);
            padding: 2rem 0;
      }
}
/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
      .grid-col-2,
      .grid-col-3
      {
            grid-template-columns: 1fr;
      }
      #hero-section
      {
            height: calc(50vh - 37px);
            padding: 2rem 0;
      }
      #history-section
      {
            /* height: calc(40vh - 37px); */
            /* height: 600px; */
            height: auto;
      }
      #history-section > div
      {
            height: 300px;
      }
      #history-section > div:nth-child(1)
      {
            display: none;
      }
      #features-section i
      {
            font-size: 2rem;
            padding: 1rem;
      }
}
/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
      
      .grid-header
      {
            grid-template-columns: 1fr;
            text-align: center;
      }
      header h1
      {
            padding: 15px 0;
            font-size: 2rem;
      }
      header h1 > a
      {
            padding-left:0;
      }
      header nav li
      {
            display: block;
            border-bottom: dotted 1px #ffffff;
            margin: 10px;
      }
      header nav li:nth-child(3)
      {
            border-bottom: none;
      }
      header > div > nav
      {
            justify-self: center;
            width: 100%;
      }
      
}
